---
layout: page
title: "About"
description: "Hi, I'm Royzkie."
header-img: "img/post-bg-os-metro.jpg"
permalink: /about.html
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="en post-container">

<p>A licensed Civil Engineer with excellent working experience and background in Shipbuilding, Marine, Oil and Gas industry. Always striving to learn more and wanting to enhance my experience and knowledge. Highly motivated, always on the edge in this age of technological advancement. Resourceful and well informed.</p>
 
</div>
