<head>

  <meta charset="utf-8">
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv='expires' content='0'>
  <meta http-equiv='pragma' content='no-cache'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="cDdKu68-ZKYRacsM4n-5khiayBZ7bjU2kaxiZQLvJoc" />
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7643397056668330" crossorigin="anonymous"></script>

  <title>
    {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
    {% else %}{{ site.title | escape }}{% endif %}
  </title>

  {% assign version =  "now" | date: "%Y%m%d%H%M"  %}
  <link rel="shortcut icon" href="{{'//img/avatar.jpg?v=0X' | append: version | relative_url }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{'//img/apple-icon-57x57.png?v=0X' | append: version | relative_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{'//img/apple-icon-60x60.png?v=0X' | append: version | relative_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{'//img/apple-icon-72x72.png?v=0X' | append: version | relative_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{'//img/apple-icon-76x76.png?v=0X' | append: version | relative_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{'//img/apple-icon-114x114.png?v=0X' | append: version | relative_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{'//img/apple-icon-120x120.png?v=0X' | append: version | relative_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{'//img/apple-icon-144x144.png?v=0X' | append: version | relative_url }}">
  <link rel="apple-touch-icon" sizes="152x152" hhref="{{'//img/apple-icon-152x152.png?v=0X' | append: version | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{'//img/apple-icon-180x180.png?v=0X' | append: version | relative_url }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{'//img/android-icon-192x192.png?v=0X' | append: version | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{'//img/favicon-32x32.png?v=0X' | append: version | relative_url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{'//img/favicon-96x96.png?v=0X' | append: version | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{'//img/favicon-16x16.png?v=0X' | append: version | relative_url }}">
  <link rel="manifest" href="{{'//img/manifest.json?v=0X' | append: version | relative_url }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{'//img/ms-icon-144x144.png?v=0X' | append: version | relative_url }}">
  
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{'/assets/main.css?v=0X' | append: version | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

</head>
